* {
  margin: 0;
  padding: 0;

  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.background-image {
  width: 100vw;
  height: 100vh;
}

.hero {
  position: absolute;
  top: 430px;
  left: 250px;
  transform: scaleX(-1);
  transition: .2s;
}

.hero-attack {
  position: absolute;
  top: 430px;
  left: 950px;
  transform: scaleX(-1);
}

.hero-dead {
  position: absolute;
  top: 550px;
  left: 250px;
  transform: scaleX(-1);
  rotate: -90deg;
}


.evil-knight {
  position: absolute;
  top: 280px;
  right: 260px;
  height: 500px;
  transition: .2s;
}

.evil-knight-attack {
  position: absolute;
  top: 280px;
  right: 960px;
  height: 500px;
}

.evil-knight-dead {
  position: absolute;
  top: 500px;
  right: 260px;
  height: 500px;
  transform: scaleX(-1);
  rotate: 90deg;
}

.options-panel {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, .6);
  color: red;
  bottom: 0;
  left: 700px;
  padding: 30px;
  height: 200px;
  width: 300px;
  margin: auto;
}
.options-panel-header {
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.custom-button {
  background-color: rgba(255, 0, 0, 1);
  padding: 10px;
  color: white;
  margin:auto;
  width: 100%;
  border-radius: 5px;
}

.hero-panel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 50px;
  color: red;
  width: 400px;
  height: 200px;
  padding: 30px;
  background-color: rgba(0, 0, 0, .5);
}

.enemy-panel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 50px;
  color: red;
  padding: 30px;
  background-color: rgba(0, 0, 0, .5);
  width: 400px;
  height: 200px;
}

.healthpotion {
  width: 75px;
  position: relative;
  margin: auto;
}

.health-potion-container {
  display: flex;
  width: 100%;
}

.health-symbol {
  width: 150px;
}

.health-panel {
  display: flex;
}

.health-value-container {
  margin: auto;
}

.log-container {
  position: absolute;

  top: 0;
  margin: auto;
  z-index: 1;
  font-size: 50px;
  color: red;
  padding: 30px;
  background-color: rgba(0, 0, 0, .8);
  width: 400px;
  height: 200px;
  left: 650px;
  text-align: center;
}